<div id="filter-container">
    <label for="filter-select">Filter by Health Benefit:</label>
    <select id="filter-select">
        <option value="">Select</option>
        <option value="/home/diabetes">Diabetes</option>
        <option value="/home/heart">Heart</option>
        <option value="/home/blood-pressure">Blood Pressure</option>
        <option value="/home/high-protein">High Protein</option>
        <option value="/home/low-fat">Less Fat</option>
    </select>
</div>