<nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">FreshCart<i class="fas fa-shopping-cart"></i></label>
    <ul>
      <li>
        <a class="active" href="/home"
          ><i class="fa fa-home" aria-hidden="true"></i> Home</a
        >
      </li>
      <li><a href="/list">My List</a></li>
      <li><a href="/order">Orders</a></li>
      <li><a id="cart-link" href="/cart">Cart</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <div class="search-container">
        <input
          type="text"
          id="search-bar"
          placeholder="Search for items..."
          name="q"
        />
        <button id="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <div class="profile-circle" id="profileCircle">J</div>
  </nav>