<ul id="autoWidth" class="container" class="cs-hidden">
    <!--box-1--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="/home/vegetables">
                <img src="../images/Mix.jpeg">
            </a>
        </div>
        <span>Vegetable</span>
    </li>
    <!--box-2--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="/home/fruits">
                <img src="../images/2.jpg">
            </a>
        </div>
        <span>Fruits</span>
    </li>
    <!--box-3--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="/home/grains">
                <img src="../images/3.jpg">
            </a>
        </div>
        <span>Grains</span>
    </li>
    <!--box-4--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="/home/daily">
                <img src="../images/4.jpg">
            </a>
        </div>
        <span>Daily Accessories</span>
    </li>

</ul>